<!DOCTYPE html>
<html>
<style>
body, html {
    height: 100%;
    margin: 0;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 95%;
}
</style>

<body>

<div class="bgimg">
  <div class="topleft">
    <p>BetCRM Project </p>
  </div>
  <div class="middle">
    <h1>Your CRM Project DataBase has Been Resetted</h1>
    <hr>
    <p>{date}</p>
  </div>
  <div class="bottomleft">
    <p>Team Bet-C</p>
  </div>
</div>

</body>
</html>
